-# in app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")
  %li
    Director:
    = @movie.director

%h3 Description:

%p#description= @movie.description
=link_to "Find Movies With Same Director", movies_path(notice: "#{@movie.title} has no director info") if @movie.director.nil?
= link_to "Find Movies With Same Director", movies_show_similar_path(:id => @movie.id) unless @movie.director.nil?
%br
= link_to 'Edit', edit_movie_path(@movie)
= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to movie list', movies_path
